.head-line {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
    flex-wrap: wrap;
}

.menus button {
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover {
    background-color: aquamarine;
}

.news-img-size {
    max-width: 100%;
    max-height: 250px;
}

.news {
    border-bottom: 2px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }

.head-line-section {
    padding: 1rem;
    display: flex;
    justify-content: left;
}

.menu-icon {
    padding: 0.5rem;
}

.head-line-section {
    padding: 0.5rem;
}

.search-icon {
    padding: 0.5rem;
}

#input-area {
    display: inline;
    padding: 0.5rem;
}

.alert-warning {
    margin: 1rem;
    text-align: center;
}

.page-item:hover {
    cursor: pointer;
}

.pagination {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 760px) {
    .menus {
        display: none;
    }
}